
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

a {
    color: inherit;
    text-decoration: none;
}


/* Banner */

.banner__travel-title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
}

.banner__travel-subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
}

.banner__img img {
    width: 587px;
    height: 554px;
}

option {
    color: #4A4C53;
    ;
}

.banner__travel-options select {
    width: 170px;
}
/*Section-2 */
 #inform{
     margin-top: 150px;
   
 }
.inform__img {
    width: 45%;
    height: 0%;
}
.inform__inner {
    display: flex;
    /* margin-left: 40px; */
    display: flex;
    justify-content: space-between;
    
   
    
    
}

.inform__card {
    margin: 105px;
    border: 1px solid;
    width: 35%;
   
}
.card-title {
font-family: 'Playfair Display', serif;
font-weight: bold;
font-size: 36px;
margin-bottom: 30px;
}
.card-text {
    font-family: 'Mulish', sans-serif;
    color: #7D7987;
    font-size: 17px;
    margin-bottom: 50px;
    
}




/* Section-3 Featured destination */

#destinations {
    margin-top: 15%;
    margin-bottom: 15%;
}

.destinations-inner {
    width: 90%;
    margin: 0 auto;
}

.destination-text {
    padding-bottom: 5%;
}

.dest-link {
    float: right;
    margin-bottom: 50px;
    color: #FB8F1D;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.fa-arrow-right {
    padding-left: 10px;
}

.destination-title {
    display: inline-block;
    font-family: 'Playfair Display', serif;
}

.card {
    border: none;
}

.card-img-overlay {
    padding: 0;
}

.dest-img-text {
    background-color: #fff;
    margin: 104.5% 30% 0% 0%;
}

.card-title {
    font-family: 'Inter', sans-serif;
    color: #000;
}

.card-text {
    color: grey;
}

/* ===========
  SECTION 6
=========== */
.story {
    font-family: "Inter", sans-serif;
}
.story__img {
    width: 220px;
    height: 220px;  
}
.story__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}
.story__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color:#7D7987;
    height: 110px;
}
.story__link,
.stories__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: #FB8F1D;
}
.story__link:hover,
.stories__link:hover {
    color: #ff8400;
}
.fa-chevron-right {
    font-size: 13px;
}
.stories__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}


/* ===========
  FOOTER
=========== */



.footer {
    font-family: 'Mulish', sans-serif;
}
.footer__suptext {
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    line-height: 28px;
    color: #848484
}
.footer__subtext {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: #848484
 
}
.footer__title {
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 60px;
    
}
.index__footer {
    background: #F9F9FB;
}

.fab {
    font-size: 25px;
    color: #000;
    padding: 0 10px;
}
.fab:hover {
    color: #1ABE84;
}
.footer__link {
    color: #848484;
    ;
}
.footer__link:hover {
    color: #000;
}

